{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <style>
        body.dark-mode #add-password {
            background-color: #575757;
        }

        #add-password {
            background-color: white;
        }

        #add-password svg path {
            fill: #007bff;
        }

        #add-password span{
            color: #007bff;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <form id="uploadForm" enctype="multipart/form-data" onsubmit="submitForm()">
        {% csrf_token %}

        <h2>Website Name</h2>
        <input type="text" name="websiteName" id="websiteName" placeholder="Enter Website" required>

        <h2>Username</h2>
        <input type="text" name="username" id="username" placeholder="Enter Username" required>
        
        <!-- Password Input (Mutually Exclusive with Key File Upload) -->
        <h2>Password</h2>
        <input type="password" name="password" id="password" placeholder="Enter password" required>
        
        <!-- Password Confirmation Input -->
        <h2>Confirm Password</h2>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required onkeyup="matchPassword()">
        <span id="match"></span>
        
        <br><br>
        <input type="button" value="Add Password" onclick="submitForm()">
        <input type="reset" value="Reset" onclick="resetForm()">
        <div id="responseMessage"></div>
    </form>

    <script>
        // Function to handle form submission
        function submitForm() {
            const websiteName = document.getElementById('websiteName').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            const matchMessage = document.getElementById('match');

            // Check if passwords match
            if (password !== confirmPassword) {
                matchMessage.innerText = "Passwords do not match.";
                return;
            } else {
                matchMessage.innerText = "";
            }

            const formData = new FormData();
            formData.append('websiteName', websiteName);
            formData.append('username', username);
            formData.append('password', password);
            formData.append('confirm_password', confirmPassword);

            fetch('{% url "add_password_page" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                document.getElementById('responseMessage').innerHTML = 'Password added successfully!';
                document.getElementById('responseMessage').className = 'success';
                console.log(response);
                return response;
            })
            .catch(error => {
                console.error('There was an error!', error);
                document.getElementById('responseMessage').innerHTML = 'An error occurred. Please try again.';
                document.getElementById('responseMessage').className = 'error';
            });
        }
    </script>
</body>

{% endblock %}
