{% extends "base.html" %}
{% load static %}
{% block title %}Decryption - {% endblock %}
{% block content %}
<body>
    
    <form id="uploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- File Upload for the File to Decrypt -->
        <h2>File to Decrypt</h2>

        <label id="file1Label" for="file1" class="drag-drop-box" ondragover="handleDragOver(event)" ondragenter="handleDragEnter(event, 'file1Label')" ondragleave="handleDragLeave(event, 'file1Label')" ondrop="handleDrop(event, 'file1')">
            <input type="file" name="uploaded_file" id="file1" style="display: none;" onchange="displayFileName('file1')">
            Drag and drop file here or click to upload
            <br>
            <div id="file1Name"></div> <!-- This div will display uploaded file name -->
        </label>

        <h2>Decryption Password</h2>
        <input type="password" name="password" id="password" required>
        
        <br><br>
        <input type="button" value="Decrypt" onclick="submitForm()">
    </form>

    <div id="responseMessage"></div>

    <script>
        
        // Function to handle form submission
        function submitForm() {

            const formData = new FormData();
            formData.append('uploaded_file', document.getElementById('file1').files[0]);

            const password = document.getElementById('password').value;

            // Validate mutually exclusive fields
            if (!password) {
                alert('Please enter a password.');
                return;
            }

            // Append key file or password based on selection
            formData.append('password', password);

            fetch('{% url "decrypt_file" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                // Check content-disposition header to decide whether to display or download
                const contentDisposition = response.headers.get('content-disposition');
                if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
                    // Display the decrypted file
                    return response.blob().then(blob => {
                        const url = window.URL.createObjectURL(blob);
                        var embed = document.querySelector('embed');
                        if (!embed){
                            embed = document.createElement('embed');
                        }
                        embed.src = url;
                        embed.type = 'application/octet-stream'; // Set correct MIME type if known
                        document.body.appendChild(embed);

                        setTimeout(function() {
                            console.log("Height after delay:", embed.clientHeight);
                            if (embed.clientHeight == 0){
                                const a = document.createElement('a');
                                a.href = url;
                                
                                // Set the filename from response headers
                                const filename = getFilenameFromHeaders(response.headers);
                                a.download = filename;
                                
                                a.style.display = 'none';
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);
                            }
                        }, 500); // 500 milliseconds = 0.5 seconds

                        return 'File decrypted successfully!';
                    });
                }
            })
            .then(message => {
                document.getElementById('responseMessage').innerHTML = message;
                document.getElementById('responseMessage').className = 'success';
            })
            .catch(error => {
                console.error('There was an error!', error);
                document.getElementById('responseMessage').innerHTML = 'Error decrypting file. Please try again.';
                document.getElementById('responseMessage').className = 'error';
            });
        }

        // Helper function to get filename from headers
        function getFilenameFromHeaders(headers) {
            const contentDisposition = headers.get('content-disposition');
            if (contentDisposition) {
                const filenameMatch = contentDisposition.match(/filename="([^"]+)"/);
                if (filenameMatch && filenameMatch.length > 1) {
                    return filenameMatch[1];
                }
            }
            return 'decrypted_file'; // Default filename
        }
    </script>
</body>

{% endblock %}