{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <style>
        body.dark-mode #encrypt {
            background-color: #575757;
        }

        #encrypt {
            background-color: white;
        }

        #encrypt svg path {
            fill: #007bff;
        }

        #encrypt span{
            color: #007bff;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <form id="uploadForm" enctype="multipart/form-data" onsubmit="submitForm()">
        {% csrf_token %}

        <!-- File Upload for the File to Encrypt -->
        <h2>File to Encrypt</h2>
        <label id="file1Label" for="file1" class="drag-drop-box" ondragover="handleDragOver(event)" ondragenter="handleDragEnter(event, 'file1Label')" ondragleave="handleDragLeave(event, 'file1Label')" ondrop="handleDrop(event, 'file1')">
            <input type="file" name="uploaded_file" id="file1" style="display: none;" onchange="displayFileName('file1')">
            Drag and drop file here or click to upload
            <br>
            <span id="file1Name"></span>
            <span id="fileSizeError" style="color: red; display: none;">File size exceeds limit.</span>
        </label>
        
        <!-- Password Input (Mutually Exclusive with Key File Upload) -->
        <h2>Encryption Password</h2>
        <input type="password" name="password" id="password" placeholder="Enter password" required onkeyup="checkPasswordStrength(this.value)">
        <meter max="4" id="password-strength-meter"></meter>
        <p id="password-strength-text"></p>
        
        <!-- Password Confirmation Input -->
        <h2>Confirm Encryption Password</h2>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required onkeyup="matchPassword()">
        <span id="match"></span>
        
        <br><br>
        <input type="button" value="Encrypt" onclick="submitForm()">
        <input type="reset" value="Reset" onclick="resetForm()">

        <div id="responseMessage"></div>
    </form>

    <script>
        // Function to handle form submission
        function submitForm() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            const matchMessage = document.getElementById('match');

            // Check if passwords match
            if (password !== confirmPassword) {
                matchMessage.innerText = "Passwords do not match.";
                return;
            } else {
                matchMessage.innerText = "";
            }
            if (!document.getElementById('file1').files[0]) {
                alert('Please add a file to decrypt.');
                return;
            }

            const formData = new FormData();
            formData.append('uploaded_file', document.getElementById('file1').files[0]);
            formData.append('password', password);
            formData.append('confirm_password', confirmPassword);

            var filename;
            fetch('{% url "encrypt_file" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log(response);
                filename = getFilenameFromHeaders(response.headers);
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                
                a.download = filename;
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);

                document.getElementById('responseMessage').innerHTML = 'File encrypted and downloaded successfully!';
                document.getElementById('responseMessage').className = 'success';
            })
            .catch(error => {
                console.error('There was an error!', error);
                document.getElementById('responseMessage').innerHTML = 'Error encrypting file. Please try again.';
                document.getElementById('responseMessage').className = 'error';
            });
        }
    </script>
</body>

{% endblock %}
