{% extends "base.html" %}
{% load static %}
{% block title %}Encryption - {% endblock %}
{% block content %}
<body>
    
    <form id="uploadForm" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        <!-- File Upload for the File to Encrypt -->
        <h2>File to Encrypt</h2>
        <label id="file1Label" for="file1" class="drag-drop-box" ondragover="handleDragOver(event)" ondragenter="handleDragEnter(event, 'file1Label')" ondragleave="handleDragLeave(event, 'file1Label')" ondrop="handleDrop(event, 'file1')">
            <input type="file" name="uploaded_file" id="file1" style="display: none;" onchange="displayFileName('file1')">
            Drag and drop file here or click to upload
            <br>
            <span id="file1Name"></span>
            <span id="fileSizeError" style="color: red; display: none;">File size exceeds limit.</span>
        </label>
        
        <!-- Password Input (Mutually Exclusive with Key File Upload) -->
        <h2>Encryption Password</h2>
        <input type="password" name="password" id="password" placeholder="Enter password" required onkeyup="checkPasswordStrength(this.value)">
        <meter max="4" id="password-strength-meter"></meter>
        <p id="password-strength-text"></p>
        
        <!-- Password Confirmation Input -->
        <h2>Confirm Encryption Password</h2>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required onkeyup="matchPassword()">
        <span id="match"></span>
        
        <br><br>
        <input type="button" value="Encrypt" onclick="submitForm()">
        <input type="reset" value="Reset" onclick="resetForm()">
    </form>

    <div id="responseMessage"></div>


    <script>
        function resetForm(){
            const fileName = document.getElementById("file1" + 'Name');
            fileName.textContent = "";
        }

        function matchPassword() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            const matchMessage = document.getElementById('match');

            if (password !== confirmPassword) {
                matchMessage.innerText = "Passwords do not match.";
                matchMessage.classList = "not-match";
            } else {
                matchMessage.innerText = "";
                matchMessage.classList = "";
            }
        }

        function checkPasswordStrength(password) {
            const meter = document.getElementById('password-strength-meter');
            const text = document.getElementById('password-strength-text');

            const strength = {
                0: "Worst",
                1: "Bad",
                2: "Weak",
                3: "Good",
                4: "Strong",
                5: "Strong"
            };

            let score = 0;
            if (password.length >= 8) {
                score++;
            }
            if (password.length >= 16) {
                score++;
            }
            if (password.match(/[a-z]/) && password.match(/[A-Z]/)) {
                score++;
            }
            if (password.match(/[0-9]/)) {
                score++;
            }
            if (password.match(/[$@#&!]/)) {
                score++;
            }

            meter.value = score;
            text.innerHTML = strength[score];
        }

        // Function to handle form submission
        function submitForm() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            const matchMessage = document.getElementById('match');

            // Check if passwords match
            if (password !== confirmPassword) {
                matchMessage.innerText = "Passwords do not match.";
                return;
            } else {
                matchMessage.innerText = "";
            }
            if (!document.getElementById('file1').files[0]) {
                alert('Please add a file to decrypt.');
                return;
            }

            const formData = new FormData();
            formData.append('uploaded_file', document.getElementById('file1').files[0]);
            formData.append('password', password);
            formData.append('confirm_password', confirmPassword);

            var filename;
            fetch('{% url "encrypt_file" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log(response);
                filename = getFilenameFromHeaders(response.headers);
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                
                a.download = filename;
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);

                document.getElementById('responseMessage').innerHTML = 'File encrypted and downloaded successfully!';
                document.getElementById('responseMessage').className = 'success';
            })
            .catch(error => {
                console.error('There was an error!', error);
                document.getElementById('responseMessage').innerHTML = 'Error encrypting file. Please try again.';
                document.getElementById('responseMessage').className = 'error';
            });
        }

        // Helper function to get filename from headers
        function getFilenameFromHeaders(headers) {
            const contentDisposition = headers.get('content-disposition');
            if (contentDisposition) {
                const filenameMatch = contentDisposition.match(/filename="([^"]+)"/);
                if (filenameMatch && filenameMatch.length > 1) {
                    return filenameMatch[1];
                }
            }
            return 'file'; // Default filename
        }
    </script>
</body>

{% endblock %}
