{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <style>
        body.dark-mode #generate {
            background-color: #383838;
        }

        #generate {
            background-color: white;
        }

        #generate svg path {
            fill: #007bff;
        }

        #generate span{
            color: #007bff;
            font-weight: 900;
        }

        h1 {
            text-align: center;
            font-size: 25px;
        }

        .divContainer.hidden {
            display: none;
        }

        .generate {
            margin: 0 auto;
            width: 90%;
        }

        .generateFields {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            flex-direction: column;
        }

        html {
            scrollbar-width: thin; /* Makes the scrollbar thin */
            scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Color of the thumb and track */
        }
    </style>
</head>
<body>
    <div class="generateFields">
        <!-- Username Generation -->
        <div class="generate">
            <h1>Generate Username</h1>
            <input type="button" value="Generate Username" onclick="fetchUsername()" style="margin: 20px auto; width: 100%;">

            <div class="divContainer hidden divUsername">
                <input type="text" id="username" class="editable-input" style="margin-bottom: 0px; width: 90%;" placeholder="Generated username will appear here">
                <button class="download" id="copyUsername" onclick="copyUsernameToClipboardHere()" style="padding: 10px 5px; width: 110px;">Copy to Clipboard</button>
            </div>

            <!-- <div id="responseMessage" class="responseMessageUsername"></div> -->
        </div>

        <!-- Password Generation -->
        <div class="generate">
            <h1>Generate Password</h1>
            <input type="button" value="Generate Password" onclick="fetchPassword()" style="margin: 20px auto; width: 100%;">

            <div class="divContainer hidden divPassword">
                <input type="text" id="password" class="editable-input" style="margin-bottom: 0px; width: 80%;" placeholder="Generated password will appear here">
                <input type="button" id="hidePass" value="Show" onclick="togglePasswordVisibilityHere()" style="padding: 10px 5px; width: 110px; ">
                <button class="download" id="copyPassword" onclick="copyPasswordToClipboardHere()" style="padding: 10px 5px; width: 110px;">Copy to Clipboard</button>
            </div>

            <!-- <div id="responseMessage" class="responseMessagePassword"></div> -->
        </div>

        <!-- PIN Generation -->
        <!-- <div class="generate">
            <h1>Generate PIN</h1>
            <input type="button" value="Generate PIN" onclick="fetchPin()" style="margin: 20px auto; width: 100%;">

            <div class="divContainer hidden divPin">
                <input type="text" id="pin" class="editable-input" style="margin-bottom: 0px; width: 90%;" placeholder="Generated PIN will appear here">
                <button class="download" id="copyPin" onclick="copyPinToClipboardHere()" style="padding: 10px 5px; width: 110px;">Copy to Clipboard</button>
            </div>

            <div id="responseMessage" class="responseMessagePin"></div>
        </div> -->

        <!-- Passphrase Generation -->
        <div class="generate">
            <h1>Generate Passphrase</h1>
            <input type="button" value="Generate Passphrase" onclick="fetchPassphrase()" style="margin: 20px auto; width: 100%;">

            <div class="divContainer hidden divPassphrase">
                <input type="text" id="passphrase" class="editable-input" style="margin-bottom: 0px; width: 90%;" placeholder="Generated passphrase will appear here">
                <button class="download" id="copyPassphrase" onclick="copyPassphraseToClipboardHere()" style="padding: 10px 5px; width: 110px;">Copy to Clipboard</button>
            </div>

            <!-- <div id="responseMessage" class="responseMessagePassphrase"></div> -->
        </div>
    </div>
</body>

<script>
    function togglePasswordVisibilityHere() {
        const passwordField = document.getElementById('password');
        const button = document.getElementById('hidePass');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            button.value = 'Hide';
        } else {
            passwordField.type = 'password';
            button.value = 'Show';
        }
    }

    function copyToClipboard(value, button) {
        const el = document.createElement('textarea');
        el.value = value;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        button.innerText = "Copied!";
        setTimeout(() => { button.innerText = "Copy to Clipboard"; }, 2000);
    }

    function copyUsernameToClipboardHere() {
        const value = document.getElementById('username').value;
        const button = document.getElementById('copyUsername');
        copyToClipboard(value, button);
    }

    function copyPasswordToClipboardHere() {
        const value = document.getElementById('password');
        const button = document.getElementById('copyPassword');
        const buttonVis = document.getElementById('hidePass');
        value.type = "password";
        buttonVis.value = "Show";
        copyToClipboard(value.value, button);
    }

    function copyPinToClipboardHere() {
        const value = document.getElementById('pin').value;
        const button = document.getElementById('copyPin');
        copyToClipboard(value, button);
    }

    function copyPassphraseToClipboardHere() {
        const value = document.getElementById('passphrase').value;
        const button = document.getElementById('copyPassphrase');
        copyToClipboard(value, button);
    }

    function fetchFromApi(endpoint, className, inputFieldId, copyFunction) {
        fetch(endpoint, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const divContainer = document.querySelector(`.div${className}`);
            divContainer.classList.remove('hidden');
            const inputField = document.getElementById(inputFieldId);
            inputField.value = data[inputFieldId];
            // document.querySelector(`.responseMessage${className}`).innerHTML = `<div id="responseMessage" class="success inner" style="margin-top: 0px;">${className} generated!</div>`;
            // document.querySelector(`.responseMessage${className}`).style.display = 'block';
            copyFunction();
            // setTimeout(() => {
            //     document.querySelector(`.responseMessage${className}`).innerHTML = "";
            //     document.querySelector(`.responseMessage${className}`).style.display = 'none';
            // }, 2000);
        })
        .catch(error => {
            alert("An error occurred. Please try again.")
            // document.querySelector(`.responseMessage${className}`).innerHTML = `<div id="responseMessage" class="error inner" style="margin-top: 0px;">An error occurred. Please try again.</div>`;
            // document.querySelector(`.responseMessage${className}`).style.display = 'block';
            // console.error('There was an error!', error);
            // setTimeout(() => {
            //     document.querySelector(`.responseMessage${className}`).innerHTML = "";
            //     document.querySelector(`.responseMessage${className}`).style.display = 'none';
            // }, 2000);
        });
    }

    function fetchPassword() { fetchFromApi('{% url "generate_password" %}', 'Password', 'password', copyPasswordToClipboardHere); }
    function fetchUsername() { fetchFromApi('{% url "generate_username" %}', 'Username', 'username', copyUsernameToClipboardHere); }
    function fetchPin() { fetchFromApi('{% url "generate_pin" %}', 'Pin', 'pin', copyPinToClipboardHere); }
    function fetchPassphrase() { fetchFromApi('{% url "generate_passphrase" %}', 'Passphrase', 'passphrase', copyPassphraseToClipboardHere); }
</script>

{% endblock %}
