{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <style>
        body.dark-mode #passwords {
            background-color: #383838;
        }

        #passwords {
            background-color: white;
        }

        #passwords svg path {
            fill: #007bff;
        }

        #passwords span{
            color: #007bff;
            font-weight: 900;
        }

        .password-form {
            margin-bottom: 20px;
        }

        h1 {
            text-align: center;
            font-size: 25px;
        }

        .password {
            margin: 10px auto;
        }

        .password .confirmHidden{
            display: none;
        }

        html {
            scrollbar-width: thin; /* Makes the scrollbar thin */
            scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Color of the thumb and track */
        }
    </style>
</head>
<body>
    <div class="password-form">
        <form id="uploadForm" enctype="multipart/form-data" onsubmit="submitForm()">
            {% csrf_token %}
            <h1>Add Password</h1>

            <h2>Website Name</h2>
            <input type="text" name="websiteName" id="websiteName" placeholder="Enter Website" required>

            <h2>Username</h2>
            <input type="text" name="username" id="username" placeholder="Enter Username" required>
            
            <!-- Password Input (Mutually Exclusive with Key File Upload) -->
            <h2>Password</h2>
            <input type="password" name="password" id="password" placeholder="Enter password" required>
            
            <!-- Password Confirmation Input -->
            <h2>Confirm Password</h2>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required onkeyup="matchPassword(this)">
            <span id="match"></span>

            <input type="button" value="Add Password" onclick="submitForm()">
            <div id="responseMessage" class="responseMessage"></div>
        </form>
    </div>
    
    <div>
        {% for website, credentials in passwords.items %}
            <div class="password" id="{{ forloop.counter }}" style="padding-top: 0px;">
                <input type="reset" value="&times;" onclick="deletePassword('{{ website }}', {{ forloop.counter }})" style="position: relative; top: 15px; padding: 5px 8px;">
                <h1 id="websiteName_{{ forloop.counter }}" style="margin-top: -20px;">{{ website }}</h1>

                <h2>Username</h2>
                <div class="divContainer">
                    <input type="text" class="editable-input" id="username_{{ forloop.counter }}" value="{{ credentials.0 }}">
                    <button class="download" onclick="copyPasswordToClipboard('{{ credentials.0 }}', this)" style="padding: 10px 5px; width: 110px;">Copy to Clipboard</button>    
                </div>

                <h2>Password</h2>
                <div class="divContainer">
                    <input type="password" class="editable-input" id="password_{{ forloop.counter }}" value="{{ credentials.1 }}" onkeydown="showConfirm({{ forloop.counter }})" style="margin-bottom: 0px; width: 80%;">
                    <input type="button" value="Show" id="button_{{ forloop.counter }}" onclick="togglePasswordVisibility({{ forloop.counter }})" style="padding: 10px 5px; width: 110px; ">
                    <button class="download" onclick="copyPasswordToClipboard('{{ credentials.1 }}', this)" style="padding: 10px 5px; width: 110px;">Copy to Clipboard</button>
                </div>

                <div class="confirmHidden">
                    <h2>Confirm Password</h2>
                    <input type="password" class="editable-input" id="confirm_password_{{ forloop.counter }}" value="" onkeyup="matchUpdatePassword({{ forloop.counter }})" placeholder="Confirm Password">
                    <span id="match" class="match_{{forloop.counter}}"></span>
                    <input type="button" value="Update Password" onclick="updatePassword({{ forloop.counter }})">
                </div>
                <div id="responseMessage" class="responseMessage{{forloop.counter}}"></div>
            </div>
        {% endfor %}
    </div>
</body>

<script>
    // Function to toggle password visibility
    function togglePasswordVisibility(index) {
        const passwordField = document.getElementById('password_' + index);
        const button = document.querySelector('#button_'+index);
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            button.value = 'Hide';
        } else {
            passwordField.type = 'password';
            button.value = 'Show';
        }
    }

    // Function to copy password to clipboard
    function copyPasswordToClipboard(password, button) {
        const el = document.createElement('textarea');
        el.value = password;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        // alert('Password copied to clipboard!');
        button.innerText = "Copied!";
        setTimeout(function() {
            button.innerText = "Copy to Clipboard";
        }, 2000);
    }

    function matchUpdatePassword(index) {
        const password = document.getElementById('password_' + index).value;
        const confirmPassword = document.getElementById('confirm_password_' + index).value;
        const matchMessage = document.querySelector('.match_' + index);

        if (password !== confirmPassword) {
            matchMessage.innerText = "Passwords do not match.";
            matchMessage.classList.add("not-match");
        } else {
            matchMessage.innerText = "";
            matchMessage.classList.remove("not-match");
        }
    }

    function showConfirm(index){
        const confirmPasswordDiv = document.getElementById('confirm_password_' + index).parentElement;
        confirmPasswordDiv.style.display = 'block';
    }
    // Function to handle form submission
    function submitForm() {
        const websiteName = document.getElementById('websiteName');
        const username = document.getElementById('username');
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirm_password');
        const matchMessage = document.getElementById('match');
        const className = '.responseMessage';

        if(!checkFields(websiteName.value, username.value, password.value, confirmPassword.value, matchMessage, className)){
            return;
        }

        const formData = new FormData();
        formData.append('websiteName', websiteName.value);
        formData.append('username', username.value);
        formData.append('password', password.value);
        formData.append('confirm_password', confirmPassword.value);

        performFetch(formData, className);
    }

    function deletePassword(websiteName, index) {
        const userConfirmed = confirm('Are you sure you want to delete the password for ' + websiteName + '?');

        if (userConfirmed) {
            // Run the function to delete the password
            console.log('Deleting password for:', websiteName);

            const formData = new FormData();
            formData.append('websiteName', websiteName);

            const className = '.responseMessage' + index;

            fetch('{% url "remove_password" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                document.querySelector(className).innerHTML = '<div id="responseMessage" class="success inner" style="margin-top: 0px;">Password removed successfully!</div>';
                document.querySelector(className).style.display = 'block';
                setTimeout(function() {
                    document.querySelector(className).innerHTML = ""; // Clear inner HTML
                    document.querySelector(className).style.display = 'none'; // Hide the element
                    location.reload();
                }, 2000);
            })
            .catch(error => {
                document.querySelector(className).innerHTML = '<div id="responseMessage" class="error inner" style="margin-top: 0px;">An error occurred. Please try again.</div>';
                document.querySelector(className).style.display = 'block';
                console.error('There was an error!', error);
                setTimeout(function() {
                    document.querySelector(className).innerHTML = ""; // Clear inner HTML
                    document.querySelector(className).style.display = 'none'; // Hide the element
                }, 2000);
            });
        }
    }

    // Function to update password
    function updatePassword(index) {
        const websiteName = document.getElementById('websiteName_' + index).textContent;
        const username = document.getElementById('username_' + index).value;
        const password = document.getElementById('password_' + index).value;
        const confirmPassword = document.getElementById('confirm_password_' + index).value;
        const responseMessageClass = '.responseMessage' + index;
        const matchMessage = document.querySelector('.match_' + index);

        if(!checkFields(websiteName, username, password, confirmPassword, matchMessage, responseMessageClass)){
            return;
        }

        const formData = new FormData();
        formData.append('websiteName', websiteName);
        formData.append('username', username);
        formData.append('password', password);
        formData.append('confirm_password', confirmPassword);

        performFetch(formData, responseMessageClass);
        document.getElementById('confirm_password_' + index).parentElement.style.display = "none";
    }

    function checkFields(websiteName, username, password, confirmPassword, matchMessage, className){
        if (websiteName && username && password && confirmPassword){
            if (password !== confirmPassword) {
                matchMessage.innerText = "Passwords do not match.";
                return false;
            } else {
                matchMessage.innerText = "";
                return true;
            }
        }
        else {
            document.querySelector(className).innerHTML = '<div id="responseMessage" class="error inner" style="margin-top: 0px;">Please fill in all fields.</div>';
            document.querySelector(className).style.display = 'block';
            setTimeout(function() {
                document.querySelector(className).innerHTML = ""; // Clear inner HTML
                document.querySelector(className).style.display = 'none'; // Hide the element
            }, 2000);
            return false;
        }
    }

    function performFetch(formData, className){
        fetch('{% url "add_password_page" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            document.querySelector(className).innerHTML = '<div id="responseMessage" class="success inner" style="margin-top: 0px;">Password added successfully!</div>';
            document.querySelector(className).style.display = 'block';
            if(className === ".responseMessage"){
                document.getElementById('websiteName').value = "";
                document.getElementById('username').value = "";
                document.getElementById('password').value = "";
                document.getElementById('confirm_password').value = "";
            }
            setTimeout(function() {
                document.querySelector(className).innerHTML = ""; // Clear inner HTML
                document.querySelector(className).style.display = 'none'; // Hide the element
                location.reload();
            }, 2000);
        })
        .catch(error => {
            document.querySelector(className).innerHTML = '<div id="responseMessage" class="error inner" style="margin-top: 0px;">An error occurred. Please try again.</div>';
            document.querySelector(className).style.display = 'block';
            console.error('There was an error!', error);
            setTimeout(function() {
                document.querySelector(className).innerHTML = ""; // Clear inner HTML
                document.querySelector(className).style.display = 'none'; // Hide the element
            }, 2000);
        });
    }
</script>

{% endblock %}
