main {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #007bff;
    margin-top: 0;
    margin-bottom: 20px; /* Increased spacing */
}

.form {
    display: none;
}

.form.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.toggle-link {
    text-align: center;
    margin-top: 20px;
}

.toggle-link a {
    color: #007bff;
    text-decoration: none;
}

.toggle-link a:hover {
    text-decoration: underline;
}
